export JEKYLL_VERSION=3.8
export PROJECT_NAME=jekyll-example
alias ll='ls -la'
alias docker-jekyll-new='sudo docker run  --name $PROJECT_NAME --volume="$PWD:/srv/jekyll" -it jekyll/jekyll:$JEKYLL_VERSION jekyll new .'
alias docker-jekyll-attach='sudo docker start $PROJECT_NAME && sudo docker exec -it $PROJECT_NAME bash'
alias docker-jekyll-build='sudo docker run --name $PROJECT_NAME --volume="$PWD:/srv/jekyll" -it jekyll/jekyll:$JEKYLL_VERSION jekyll build --trace .'
alias docker-jekyll-serve='sudo docker run --name $PROJECT_NAME --volume="$PWD:/srv/jekyll" -p 3000:4000 -it jekyll/jekyll:$JEKYLL_VERSION jekyll serve --watch --drafts --trace'
alias docker-bundle='sudo docker run --name $PROJECT_NAME --volume="$PWD:/srv/jekyll" -p 3000:4000 -it jekyll/jekyll:$JEKYLL_VERSION bundle'

