body{
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/pinstripe-light.png") ;
  background-position: center;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
#primary-navigation{
  background-color:#174058 ;
}
#site-aside {
  & > section {
    padding: 20px;
    border-bottom: 2px solid #999;
  }
}